/*GLOBAL*/

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat left top / contain;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding; 0;
}

/*HEADER*/

/*GALLERY*/

/*FOOTER*/

/*MEDIA QUERIES*/
