/*GLOBAL*/

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*HEADER*/

/*GALLERY*/

/*FOOTER*/

/*MEDIA QUERIES*/
