/*GLOBAL*/

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed top left / contain;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  float: left;
  text-transform: uppercase;
  margin: 0;
  padding; 0;
}

/*HEADER*/

.header {
  padding: 30px 0 50px;
}

.header:after{
  /*Clear-fix*/
  content: "";
  display: block;
  clear: both;
}

.header ul {
  list-style: none;
  float: right;
  margin: -3px 0 0;
  padding: 0;
}

.header ul li {
  display: inline;
}

.header ul li a {
  font-size: 15px;
  display: inline-block;
  color: #f01251;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  float: left;
}

.header ul li .active {
  color: white;
  background-color: #f01251;
}

.header ul li a:hover {
  color: #f01251;
  background-color: #EEEEEE;
}

.header ul li .active:hover {
  border: 2px solid;
  background-color: #white;
}

/*GALLERY*/

.gallery .img-row {
  margin: 0 -15px;
}

.gallery .img-row:after {
  /*Clear-fix*/
  content: "";
  display: block;
  clear: both;
}

.gallery img {
  width: 33.33%;
  float: left;
  padding: 10px 15px;
}

/*FOOTER*/

.footer {
  padding: 40px 0 25px;
}

.footer .container {
  height: 20px;
  position: relative;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 9px;
  bottom: 0px;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
  margin: 0 20px;
  text-shadow: 0px 0px 1px white;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES*/

@media (max-width: 1200px) {

  /*GLOBAL*/

  /*HEADER*/

  /*GALLERY*/

  /*FOOTER*/

}

@media (max-width: 992px) {

  /*GLOBAL*/

  /*GALLERY*/

  .gallery .img-row img {
    width: 50%;
  }

  /*FOOTER*/

  .footer ul {
    position: static;
    display: block;
    max-width: 348px;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {

  /*GLOBAL*/

  h1 {
    color: black;
  }

  /*HEADER*/

  /*GALLERY*/

  .gallery .img-row img {
    width: 100%;
  }

  /*FOOTER*/

}

@media (max-width: 500px) {

  /*GLOBAL*/

  .container {
    padding: 0 15px;
  }

  h1 {
    width: 100%;
    float: none;
    text-align: center;
  }

  /*HEADER*/

  /*GALLERY*/

  /*FOOTER*/

  .footer {
    height: 200px;
  }

  .footer ul li a {
    display: block;
    text-align: center;
    margin-bottom: 14px;
  }
}
